spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/monitor
    username: monitor
    password: monitor
  jpa:
    hibernate:
      ddl-auto: update
management:
  endpoints:
    web:
      exposure:
        include: health